.input-edit {
    width: 200px;
    height: 30px;
    
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 7px;

    margin-left: 10px;
}

.text-user-name {
    width: 120px;
    font-size: 17px;
}

.text-status {
    width: 130px;
}