.text-title-modal .text-edit-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
    
    letter-spacing: 1px;
}

.input-edit {
    width: 200px;
    height: 30px;
    
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 7px;

    margin-left: 10px;
}

.text-edit-label {
    width: 100px;
}